/* Add CSS Styling */

.odd {
    background-color: rgb(239, 111, 111);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#two {
    color: rgb(0,0,255);
    font-size: 36px;
}

#four {
    background-color: rgb(178, 255, 178);
    font-size: 24px;
    font-weight: bold;
}