/* Add CSS Styling */
.black, .yellow {
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.black { 
    background-color: rgb(0,0,0);
    color: hsl(0, 0%, 100%);
    
}

.yellow {
    background-color: yellow;
}